<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.dltk.testing.engine">
   <testingEngine
         class="org.eclipse.dltk.ruby.testing.internal.testunit.TestUnitTestingEngine"
         id="org.eclipse.dltk.ruby.testing.testunit"
         name="Test::Unit"
         nature="org.eclipse.dltk.ruby.core.nature"
         priority="20">
   </testingEngine>
   <testingEngine
         class="org.eclipse.dltk.ruby.testing.internal.rspec.RspecTestingEngine"
         id="org.eclipse.dltk.ruby.testing.rspec"
         name="RSpec"
         nature="org.eclipse.dltk.ruby.core.nature"
         priority="10">
   </testingEngine>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.dltk.ruby.testing.internal.RubyTestingLaunchConfigurationDelegate"
            id="org.eclipse.dltk.ruby.testing.launchConfig"
            modes="run, debug"
            name="Ruby Testing"
            public="true"
            sourceLocatorId="rubySourceLocator"
            sourcePathComputerId="rubySourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.dltk.ruby.testing.launchConfig"
            icon="icons/obj16/ruby_obj.gif"
            id="org.org.eclipse.dltk.ruby.testing.launchConfigImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.dltk.ruby.testing.internal.RubyTestingTabGroup"
            id="org.eclipse.dltk.ruby.testing.launchConfigTabGroup"
            type="org.eclipse.dltk.ruby.testing.launchConfig">
         <launchMode
               description="Run mode"
               mode="run">
         </launchMode>
         <launchMode
               description="Debug mode"
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.dltk.ruby.testing.internal.RubyTestingLaunchShortcut"
            description="%RubyLaunchShortcut.description"
            icon="icons/obj16/ruby_obj.gif"
            id="org.eclipse.dltk.ruby.testing.launchShortcut"
            label="%RubyLaunchShortcut.name"
            modes="run,debug">
         <configurationType
               id="org.eclipse.dltk.ruby.testing.launchConfig">
         </configurationType>
         <contextualLaunch>
           <enablement>
					<with variable="selection">
						<count value="1" />
						<iterate>
							<or>
								<test
									args="org.eclipse.dltk.ruby.core.nature"
									property="org.eclipse.dltk.launching.hasProjectNature" />
							</or>
						</iterate>
					</with>
				</enablement>
				<contextLabel label="Ruby Testing Run"
					mode="run">
				</contextLabel>
				<contextLabel label="Ruby Testing Debug"
					mode="debug">
				</contextLabel>
         </contextualLaunch>
      </shortcut>
   </extension>
   
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.eclipse.dltk.ruby.testing.internal.RubyTestingPreferenceInitializer">
		</initializer>
	</extension>

</plugin>
